BOT_TOKEN=
ADMIN_ID=
STORE_NAME=Global OTT Store
SUPPORT_USERNAME=@support
STORE_CURRENCY=INR
PORT=3000
POLL_TIMEOUT=3
WEB_BASE_URL=https://your-app.vercel.app
WEBHOOK_SECRET=
ADMIN_WEB_USER=admin
ADMIN_WEB_PASSWORD=

# UPI PAYMENT
UPI_ID=yourupi@paytm
UPI_NAME=Your Name
PAYMENT_LINK=https://paytm.me/yourlink
